server = true

bootstrap_expect = {{ consul_bootstrap_expect }}
{% if consul_recursors | length > 0 %}
recursors = {{ consul_recursors | to_json }}
{% endif %}

ui_config {
  enabled = {{ consul_ui | lower }}
  {% if metrics_provider_enabled | bool %}
  metrics_provider = "{{ metrics_provider }}"
  {% endif %}
}

{% if consul_connect | bool %}
#---------------------------------------
# CONSUL CONNECT
#---------------------------------------
connect {
  enabled = true
}
{% endif %}

{% if wan_federation | bool %}
#---------------------------------------
# CONSUL WAN FEDERATION 
#---------------------------------------
primary_datacenter = "{{ consul_primary_datacenter }}"
advertise_addr_wan = "{{ consul_advertise_address_wan }}"
{% endif %}
